$color-green-background: #58903c;
$color-grey-background: rgba(0,0,0,.1);
$color-grey-dark: #777;
$color-yellow-dark: #ffe205;
$color-white: #fff;
$font-heading: 'Luckiest Guy', cursive;
$font-primary: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: $color-white;
  background: $color-green-background;
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container  {
  max-width: 88rem;
  padding: 3em;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.sidenav {
  flex: 1;
}
main {
  flex: 4;
  margin-left: 2rem;
  padding-bottom: 8rem;
}

.logo {
  text-align: center;
  margin-bottom: 2rem;
}